@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.ah-slider
		.item
			height: 243px
	.ah-slider-imgbox
		img
			width: 315px
			height: 266px
	.ah-slider-text
		display: block
		font-size: 38px
		line-height: 39px
	.ah-slider-title
		display: inline-block
		font-size: 37px
		line-height: 59px
		text-transform: uppercase
		padding: 0px 10px
	.ah-advantages-span
		font-size: 11px
	.ah-advantages-imgbox
		width: 145px
		height: 105px
	.ah-popular-tableft
		display: table-cell
		width: 45%
		vertical-align: bottom
	.ah-popular-tabright
		display: table-cell
		width: 55%
		vertical-align: bottom
	.ah-popular-subtitle
		font-size: 14px
	.ah-novelty-title
		font-size: 12px
	.ah-popular-title
		font-size: 12px
	.ah-popular-imgbox
		width: 180px
		height: 170px
	/*Заголовок*/
	.az-title-wrap
		text-align: left
		.az-title
			font-size: 28px
			padding-left: 0
		&.style3
			.az-title
				font-size: 23px
		&.style4
			&::before
				bottom: 5px
			.az-title
				font-size: 16px
	/*Заголовок*/



	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)

	/**/

@media only screen and (min-width : 1200px)
	.ah-slider
		.item
			height: 381px
	.ah-slider-imgbox
		img
			width: auto
			height: auto
	.ah-slider-text
		display: block
		font-size: 59px
		line-height: 60px
	.ah-slider-title
		display: block
		font-size: 58px
		line-height: 85px
		text-transform: uppercase
		padding: 0px 20px
	.ah-advantages-imgbox
		width: 165px
		height: 105px
	.ah-tabright-link
		background: url(../img/novelty-icon.png) calc(0% + 20px) center no-repeat #fba026
		&:hover
			background: url(../img/novelty-icon1.png) calc(0% + 20px) center no-repeat #fba026
	.ah-novelty-subtitle
		font-size: 16px
	.ah-popular-subtitle
		font-size: 16px
	.ah-novelty-title
		font-size: 16px
	.ah-popular-title
		font-size: 16px
	.ah-popular-imgbox
		width: 250px
		height: 245px
	.ah-tableft-span1
		font-size: 26px
		span
			font-size: 14px
	.ah-novelty-imgbox
		width: 230px
		height: 260px
	.ah-advantages
		background: url(../img/advantages-fon.jpg) top center no-repeat
		height: 242px
	/*Заголовок*/
	.az-title-wrap
		.az-title
			font-size: 24px
		&.style3
			.az-title
				font-size: 24px
		&.style4
			&::before
				bottom: 7px
			.az-title
				font-size: 22px
	/*Заголовок*/


	/**/