@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/*Заголовок*/
	.az-title-wrap
		text-align: left
		.az-title
			font-size: 28px
			padding-left: 0
		&.style3
			.az-title
				font-size: 23px
		&.style4
			&::before
				bottom: 5px
			.az-title
				font-size: 16px
	/*Заголовок*/



	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)

	/**/

@media only screen and (min-width : 1200px)
	.ah-advantages
		background: url(../img/advantages-fon.jpg) top center no-repeat
		height: 242px
	/*Заголовок*/
	.az-title-wrap
		.az-title
			font-size: 24px
		&.style3
			.az-title
				font-size: 24px
		&.style4
			&::before
				bottom: 7px
			.az-title
				font-size: 22px
	/*Заголовок*/


	/**/