@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"


a, a:hover, a:active, a:focus
	text-decoration: none
	outline: none
	color: #fff
li
	list-style: none

a[href^=tel]
	color: inherit
	text-decoration: none

.az-center
	text-align: center

.az-static
	position: static !important

.az-topmnu
	background: #2e2d2f
	height: 30px
	font-size: 0
	padding-top: 7px
	position: relative

.az-menu
	position: absolute
	// border-top: 1px solid #fff
	top: 100%
	left: 0
	width: 100%
	z-index: 6
	background: #2e2d2f
	display: none
	font-family: "ArimoBold"
	font-size: 24px
	line-height: 30px
	color: #fff
	padding-top: 10px
	padding-bottom: 15px
	>li>a
		color: #fff
		display: inline-block
		padding: 0 7px
		width: 100%
		height: 35px
		font-size: 22px
		line-height: 35px
		text-transform: uppercase
		img:nth-child(2)
			display: none
		img:first-child
			display: inline-block
		i
			display: none

			// transition: transform .3s ease-in-out
			// transform: rotate(0deg)
		&:hover//, &.active
			// background: #969696
			color: #fba026
			img:nth-child(2)
				display: inline-block
			img:first-child
				display: none
		&.active
			i
				// display: none
				// transform: rotate(-90deg)
	ul>li>a
		color: #fff
		display: inline-block
		padding: 0 23px
		width: 100%
		height: 35px
		line-height: 35px
		font-size: 16px
		white-space: nowrap
		text-transform: uppercase
		background: url(../img/az-drop-sublink.png) no-repeat 7px center
		&:hover, &.active
			// background: #969696
			background: url(../img/az-drop-sublink-hover.png) no-repeat 7px center
			color: #fba026
	ul
		display: none
.az-cart-menu, .az-user-menu
	padding-left: 36px
	height: 46px
	display: inline-block
	width: 100%
	line-height: 46px
	color: #fff
	&:hover
		color: #fff
.az-cart-menu-wrapper
	margin: 15px 0
	padding: 0 15px
	height: 70px
	background: #484848
	text-align: center
.az-cart-menu
	padding-left: 0
	// text-transform: uppercase
	background: #fba026 url(../img/az-cart.png) no-repeat 14px center
	height: 40px
	line-height: 40px
	font-size: 18.5px
	font-family: "ArimoRegular"
	color: #282729
	position: relative
	&:hover
		background: #fba026 url(../img/novelty-icon1.png) no-repeat 14px center
	&::before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 5px
		background: #db8818
.az-cart-menu-text
	font-size: 18.5px
	font-family: "ArimoBold"
	height: 35px
	line-height: 35px
	strong
		font-weight: normal
		text-transform: uppercase
.az-user-menu
	// text-transform: uppercase
	border-top: 3px solid #484848
	border-bottom: 3px solid #484848
	font-family: "ArimoRegular"
	font-size: 22px
	vertical-align: top
	background: url(../img/az-user.png) no-repeat 7px center
	a, span
		line-height: 40px
		vertical-align: top
		height: 40px
		display: inline-block
		&:hover
			color: #fba026
.az-co
	.az-inner-close
		display: none
	.az-inner-burger
		display: inline-block
.az-close
	.az-inner-burger
		display: none
	.az-inner-close
		display: inline-block


.az-right-mob-menu
	li
		display: inline-block
		margin-left: 18px
		font-size: 0
		vertical-align: top
		position: relative
		&:first-child
			margin-left: 0

.az-cart2
	display: inline-block
	margin-top: -7px
	// margin-right: -15px
	padding-right: 8px
	padding-left: 8px
	padding-top: 5px
	background: #fba026
	height: 30px
	.az-num
		font-size: 14px
		font-family: "ArimoBold"
		color: #2e2a29
		vertical-align: middle
		margin-left: 5px
		display: inline-block


/*header-middle*/
.az-header
		// padding-bottom: 30px
.az-padding
	padding: 7px 4px 0
.az-logo
	padding: 20px 0
	// margin: 0 auto
	text-align: center
	img
		max-width: 100%
.az-cart-menu.style2
	background: #fba026 url(../img/az-catal-back.png) no-repeat 14px center
	text-align: center
	font-size: 18px
	text-transform: uppercase
	letter-spacing: 0.25em
	margin-bottom: 30px
	font-family: "ArimoBold"
	&:hover
		background: #fba026 url(../img/az-burger.png) no-repeat 14px center
.az-user-menu.style2
	border: none
	font-family: "ArimoRegular"
	font-size: 12px
	height: 26px
	vertical-align: top
	padding-left: 16px
	background: url(../img/az-log-reg.png) no-repeat left center
	a, span
		color: #2c82c9
		line-height: 26px
		vertical-align: top
		height: 26px
		display: inline-block
		&:hover
			text-decoration: none
	a
		text-decoration: underline

.az-user-menu.style3
	border: none
	font-family: "ArimoRegular"
	font-size: 12px
	height: 26px
	vertical-align: top
	padding-left: 16px
	background: url(../img/az-baloon.png) no-repeat left center
	a, span
		line-height: 26px
		vertical-align: top
		height: 26px
		display: inline-block
		&:hover
			text-decoration: none
	a
		color: #2c82c9
		text-decoration: underline dashed
	span
		color: #282729

.az-search
	position: relative
	input[type="text"]
		height: 30px
		line-height: 30px
		border: 1px solid #afafaf
		border-radius: 15px
		width: 100%
		padding: 0 30px 0 15px
		font-family: "ArimoRegular"
		font-size: 12px
		outline: none
	input[type="submit"]
		width: 16px
		height: 30px
		background: url(../img/az-search.png) no-repeat center center
		position: absolute
		top: 0
		right: 15px
		border: none
		outline: none

.az-tel
	padding-top: 16px
	text-align: right
	.az-tel-num
		height: 25px
		background: url(../img/az-tel.png) no-repeat left center
		line-height: 25px
		display: inline-block
		padding-left: 27px
		font-family: "ArimoRegular"
		font-size: 24px
		color: #727272
		strong
			font-weight: normal
			font-family: "ArimoBold"
			color: #2e2d2f
	.az-call-back
		color: #448ccd
		font-family: "ArimoRegular"
		font-size: 14px
		text-decoration: underline dotted
		&:hover
			text-decoration: none
			
/*second-menu*/
.az-second-menu-inner
	border-top: 1px solid #c2c2c2
	border-bottom: 1px solid #c2c2c2
	padding: 6px 0
	margin-bottom: 22px
	font-size: 0
	text-align: center
	li
		padding: 0 4px
		display: inline-block
		a
			line-height: 28px
			color: #2e2d2f
			font-size: 14px
			font-family: "ArimoBold"
			text-transform: uppercase
			&:hover
				color: #2c82c9
				text-decoration: underline

/*popup*/
.popup
	background: #fff
	padding: 40px 100px
	border: 3px solid #2c82c9
	max-width: 588px
	margin-bottom: 300px
	margin: 20px auto
	.popup-title
		font-size: 24px
		font-family: "ArimoBold"
		text-transform: uppercase
		color: #2e2d2f
		margin-bottom: 30px
		display: block
		text-align: center
.form-item
	margin-bottom: 13px
	label
		color: #2e83ca
		font-size: 16px
		font-family: "ArimoBold"
		line-height: 30px
		cursor: pointer
	input, textarea
		width: 100%
		height: 40px
		font-size: 16px
		font-family: "ArimoRegular"
		color: #2e2d2f
		line-height: 40px
		padding: 0 10px
		border: 1px solid #afafaf
		border-radius: 4px
	textarea
		height: 99px
		resize: none
		line-height: 20px
		padding: 10px
	button[type="submit"]
		padding-left: 0
		background: #fba026
		height: 40px
		line-height: 40px
		font-size: 14px
		font-family: "ArimoBold"
		color: #282729
		position: relative
		border-radius: 0
		border: none
		display: inline-block
		max-width: 216px
		width: 100%
		text-transform: uppercase
		letter-spacing: 0.15em
		margin: 0 auto
		&:hover
			color: #fff
		&::before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 5px
			background: #db8818

.error
	color: #d14841 !important
	*
		color: #d14841 !important
	input, textarea
		border: 2px solid #d14841 !important

input.error, textarea.error
	border: 2px solid #d14841 !important

.az-btn
	border: 1px solid #afafaf
	background: url(../img/az-select.png) no-repeat right center !important
	height: 40px
	border-radius: 7px
	outline: none !important
	.az
	.caret
		display: none
	~.dropdown-menu
		box-shadow: none
		left: unset
		right: 0
		width: 50%
		margin: 0
		min-width: 200px !important
		border: 1px solid #afafaf
		>ul
			>li
				border-bottom: 1px solid #afafaf
				a
					padding: 3px 13px
				&:last-child
					border-bottom: none
				.text
					color: #2e2d2f
					font-size: 16px
					font-family: "ArimoBold"
				&:hover
					.text
						color: #2c82c9

.az-checkbox
	input[type="checkbox"]
		display: none
	label
		width: 30px
		height: 30px
		display: inline-block
		border: 1px solid #afafaf
		position: relative
	input[type="checkbox"]:checked~label
		&::before
			content: ""
			position: absolute
			top: 5px
			left: 5px
			width: 29px
			height: 23px
			background: url(../img/az-checkbox.png) no-repeat center center

.az-captcha-wrap
	display: block
	text-align: center
	margin-bottom: 20px
	.az-captcha
		display: inline-block

/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog
	opacity: 0
	-webkit-transition: all 0.2s ease-out
	-moz-transition: all 0.2s ease-out
	-o-transition: all 0.2s ease-out
	transition: all 0.2s ease-out
	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg )
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg )
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg )
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg )
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg )

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog
	opacity: 1
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 )
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 )
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 )
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 )
	transform: translateY(0) perspective( 600px ) rotateX( 0 )


/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog
	opacity: 0
	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg )
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg )
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg )
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg )
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg )


/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg
	opacity: 0
	-webkit-transition: opacity 0.3s ease-out
	-moz-transition: opacity 0.3s ease-out
	-o-transition: opacity 0.3s ease-out
	transition: opacity 0.3s ease-out

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg
	opacity: 0.8

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg
	opacity: 0

.az-close-btn
	position: absolute
	top: 4px
	right: 4px
	width: 30px
	height: 30px
	background: url(../img/az-close-btn.png) no-repeat center !important
	border: none

/*breadcrumbs*/
.az-breadcrumbs
	font-size: 0
	margin: 8px 0
	ul
		margin-top: -20px
		li
			display: inline-block
			margin-right: 18px
			position: relative
			&::before
				content: '/'
				color: #448ccd
				position: absolute
				top: 0
				right: -11px
				font-size: 14px
				font-family: "ArimoRegular"
			&:last-child
				margin-right: 0
				&::before
					display: none
			a
				color: #448ccd
				font-size: 14px
				font-family: "ArimoRegular"
				&:hover
					text-decoration: underline
			span
				color: #448ccd
				font-size: 14px
				font-family: "ArimoRegular"

/*tabs*/
.az-tabs
	display: table
	width: calc(100% + 20px)
	margin-left: -10px
	margin-right: -10px
	margin-bottom: 10px
	li
		display: table-cell
		width: 50%
		height: 40px
		vertical-align: middle
		span
			display: table
			width: 100%
			a
				font-size: 12px
				color: #2e2d2f
				font-family: "ArimoBold"
				text-align: center
				background: #e9e9e9
				display: table-cell
				border-radius: 14px
				height: 28px
				width: 100%
				padding: 0 10px
				line-height: 14px
				vertical-align: middle
				width: 100%
				text-transform: lowercase
	li:nth-child(1)
		padding-right: 8px
	li:nth-child(2)
		padding-left: 8px
	li:nth-last-child(1)
		padding-left: 8px
	li:nth-last-child(2)
		padding-right: 8px
	li.active
		padding: 0
		span
			a
				font-size: 18px
				text-transform: uppercase
				background: #fba026
				height: 36px
				border-radius: 18px
				padding: 0
.az-row
	display: table-row

.az-region
	display: block
	text-align: center
	margin-bottom: 13px
	.az-region-title
		padding-left: 16px
		vertical-align: middle
		// width: 30px
		// height: 30px
		font-family: "ArimoRegular"
		background: url(../img/az-baloon2.png) no-repeat left center// !important
		font-size: 16px
		color: #000

.az-btn2
	background: transparent
	font-family: "ArimoBold"
	background: url(../img/az-select-arrow2.png) no-repeat right 5px center !important
	box-shadow: none !important
	padding-right: 16px !important
	padding-left: 3px
	font-size: 16px
	outline: none !important
	&:focus
		outline: none !important
	>span
		text-decoration: underline
	.caret
		display: none

.az-description
	font-family: "ArimoRegular"
	font-size: 12px
	line-height: 14px
	display: inline-block
	color: #000
.az-table-basket
	width: calc(100% + 16px)
	margin-right: -8px
	margin-left: -8px
	position: relative
	tr
		border-top: 1px solid #e9e9e9
		position: relative
		display: block
		th
			display: none
			font-family: "ArimoRegular"
			font-size: 16px
			color: #000
			font-weight: normal
		td:nth-child(1)
			display: block
			width: 100px
			height: 100px
			float: left
			border: 1px solid #ededed
			margin-right: 5px
			margin-top: 6px
		td:nth-child(2), td:nth-child(3), td:nth-child(4)
			display: block
		td:nth-child(2)
			font-family: "ArimoRegular"
			font-size: 16px
			color: #000
			margin-top: 6px
			line-height: 18px
		td:nth-child(3)
			font-family: "ArimoBold"
			font-size: 16px
			color: #80bb38
			line-height: 18px
			text-transform: uppercase
			margin-top: 10px
		td:nth-child(4)
			font-family: "ArimoBold"
			font-size: 26px
			color: #2c82c9
			line-height: 26px
			span
				font-size: 12px
			strong
				font-size: 14px
		td:nth-last-child(2), td:nth-last-child(3)
			display: inline-block
			width: 49%
		td:nth-last-child(3)
			text-align: left
			margin-top: 11px
			vertical-align: bottom
		td:nth-last-child(2)
			text-align: right
			font-family: "ArimoBold"
			font-size: 26px
			color: #2c82c9
			height: 26px
			line-height: 26px
			span
				font-size: 12px
			strong
				font-size: 14px
		td:nth-last-child(1)
			a
				position: absolute
				top: 0
				right: 6px


.ah-cardproduct-formbox
	display: table-cell
	padding-left: 0px
	padding-right: 0px
	vertical-align: bottom
	text-align: center
	span
		display: inline-block
		font-family: "ArimoBold"
		color: #000
		font-size: 18px
		line-height: 15px
		margin-right: 12px
.ah-cardproduct-form
	display: inline-block
	input[type="text"]
		text-align: center
		display: inline-block
		max-width: 46px
		height: 40px
		background: #fff
		border: 1px solid #bababa
		border-radius: 6px
		box-shadow: inset 2.5px 4.3px 5px rgba(0, 0, 0, 0.3)
		color: #4b2b24
		font-family: "ArimoBold"
		font-size: 18px
		outline: none
		padding: 0px 4px
.ah-card-plus, .ah-card-min
	display: inline-block
	font-family: "ArimoBold", sans-serif
	width: 20px
	height: 20px
	border-radius: 50%
	color: #fff
	font-size: 18px
	line-height: 18px
	background: #7d7d7d
	text-align: center

.az-basket-img
	width: 99px
	height: 99px
	text-align: center
	padding: 5px
	img
		max-height: 100%
		height: auto
		max-width: 100%
		width: auto

/*cupon*/
.az-cupon
	background: #ececec
	margin: 20px -15px 0
	padding: 15px 8px 0
.az-cupon-sum
	font-family: "ArimoRegular"
	font-size: 18px
	color: #000
	line-height: 32px
.az-cupon-sum-end
	font-family: "ArimoBold"
	font-size: 22px
	color: #000
	line-height: 28px
.az-cupon-title
	font-family: "ArimoBold"
	font-size: 22px
	color: #000
	margin-bottom: 12px
	display: inline-block
.az-cupon-form
	display: table
	width: 100%
	// font-size: 0
	>div
		display: table-cell
		padding: 0
		vertical-align: middle
		&:first-child
			width: 10000px
		>input, >button
			width: 100%
			padding: 0 8px
			height: 40px
			border: 0
			margin: 0
			margin: 0
		button
			height: 40px
			line-height: 40px
			font-size: 16px
			font-family: "ArimoBold"
			color: #282729
			position: relative
			text-align: center
			background: #fba026
			text-transform: uppercase
			letter-spacing: 0.15em
			&:hover
				color: #fff
			&::before
				content: ""
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				height: 5px
				background: #db8818
		input
			border: 1px solid #afafaf
			border-right: none

.az-cupon-left, .az-cupon-right
	margin-bottom: 20px

.az-promo-itog
	padding-bottom: 30px

.az-promo
	margin: 0 -15px
	padding: 15px 8px 0

.az-itog
	margin: 26px -15px 0
	padding: 26px 2px 11px
.az-itog
	border: 5px solid #ececec
.az-itog-sum
	font-family: "ArimoBold"
	font-size: 26px
	color: #000
	line-height: 28px
	display: inline-block
	margin-bottom: 10px
	text-transform: uppercase
.az-offer
	height: 50px
	line-height: 50px
	font-size: 14px
	font-family: "ArimoBold"
	color: #282729
	position: relative
	text-align: center
	background: #fba026
	text-transform: uppercase
	letter-spacing: 0.15em
	display: inline-block
	min-width: 246px
	margin-top: 10px
	&:hover
		color: #fff
	&::before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 5px
		background: #db8818

/*reg-log*/
.az-reg-log
	background: #e9e9e9
	margin: 0 -15px 30px 
	padding: 20px 8px 28px
	p
		color: #2e2d2f
		font-family: "ArimoRegular"
		line-height: 22px
		font-size: 16px
		a
			color: #2c82c9
			text-decoration: underline
	ul
		margin-bottom: 20px
		>li
			color: #2e2d2f
			font-family: "ArimoRegular"
			line-height: 22px
			font-size: 16px
			padding-left: 12px
			background: url(../img/az-list-style-img.png) no-repeat left 7px
	button
		height: 50px
		line-height: 50px
		font-size: 12px
		font-family: "ArimoBold"
		color: #282729
		position: relative
		text-align: center
		background: #fba026
		text-transform: uppercase
		letter-spacing: 0.01em
		border: none
		width: 100%
		margin-top: 24px
		&:hover
			color: #fff
		&::before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 5px
			background: #db8818
.az-reg-log-title
	font-family: "ArimoBold"
	font-size: 24px
	color: #000
	line-height: 24px
	display: inline-block
	margin-bottom: 20px
	text-transform: uppercase
	a
		color: #2c82c9
		position: relative
		&::before
			content: ""
			position: absolute
			width: 100%
			height: 1px
			left: 0
			bottom: 3px
			background: repeating-linear-gradient(to right, #2c82c9 0px, #2c82c9 2px, #fff 2px, #fff 4px)
.az-label-input
	display: table
	margin-bottom: 22px
	width: 100%
	>div
		display: table-cell
		vertical-align: middle
		&:first-child
			width: 81px
			text-align: right
			padding-right: 10px
		label
			color: #2e2d2f
			font-family: "ArimoRegular"
			line-height: 22px
			font-size: 16px
			font-weight: normal
			margin: 0
			padding: 0
		input
			width: 100%
			height: 40px
			border: 1px solid #afafaf
			line-height: 40px
			padding: 0 8px

.az-reg-log-soc
	color: #2e2d2f
	font-family: "ArimoRegular"
	line-height: 22px
	font-size: 16px
	span
		vertical-align: middle
	a
		display: inline-block
		margin: 0 3px

/*tab-delivery*/
.az-tab-delivery
	margin: 0 -15px
	padding: 8px
	p
		font-size: 14px
		color: #000
		line-height: 16px
		margin: 0
	span
		font-size: 12px
		color: #000
		line-height: 14px
.az-tab-delivery-marg
	margin-bottom: 15px
	display: inline-block
.az-tabcheckbox
	label
		margin: 0
	input[type="radio"]
		display: none
	.az-deliv-checkbox
		border: 3px solid transparent
		display: table
		width: 100%
		cursor: pointer
		height: 100px
		>div
			display: table-cell
			vertical-align: middle
			&:nth-child(1)
				width: 50px
				padding: 9px
				span
					width: 30px
					height: 30px
					display: inline-block
					border: 1px solid #afafaf
					position: relative
			&:nth-child(2)
				width: 91px
				text-align: center
				.az-deliv-img
					width: 91px
					img
						width: auto
						max-width: 100%
						height: auto
						max-height: 100%
				img:first-child
					display: inline-block
				img:nth-child(2)
					display: none
			&:nth-child(3)
				padding: 9px
				color: #000
				font-size: 14px
				font-family: "ArimoRegular"
				font-weight: normal
				line-height: 16px
				&.style2
					font-size: 18px
					line-height: 26px
	input[type="radio"]:checked~.az-deliv-checkbox
		border: 3px solid #2c82c9
		>div
			&:nth-child(1)
				span::before
					content: ""
					position: absolute
					top: 5px
					left: 5px
					width: 29px
					height: 23px
					background: url(../img/az-checkbox.png) no-repeat center center
			&:nth-child(2)
				img:first-child
					display: none
				img:nth-child(2)
					display: inline-block
			&:nth-child(3)
				color: #2c82c9

.az-tab-comment
	margin: 10px -15px 0
	padding: 15px 8px
	background: #e9e9e9
	.pull-left
		width: 33%
		max-width: 220px
	.pull-right
		width: 67%
		min-width: calc(100% - 220px)
	span
		display: inline-block
		color: #000
		font-size: 16px
		font-family: "ArimoRegular"
		font-weight: normal
		line-height: 18px
		padding-right: 3px
	textarea
		width: 100%
		height: 160px
		border: 1px solid #afafaf
		color: #000
		font-size: 14px
		font-family: "ArimoRegular"
		font-weight: normal
		line-height: 18px
		padding: 6px
		resize: none

/*az-pay*/
.az-pay
	padding-bottom: 23px
.az-pay-left
	padding-top: 30px
	margin: 0 -15px
	.az-title-wrap
		margin-bottom: 0
.az-pay-radio-section
	padding: 20px 0 20px 0
	border-bottom: 1px solid #d9d9d9
	span
		color: #2e2d2f
		width: 100%
		display: inline-block
		text-align: center
		font-size: 16px
		font-family: "ArimoBold"
		font-weight: normal
		line-height: 26px
.az-pay-radio
	padding-left: 65px
	label
		margin: 0
	input[type="radio"]
		display: none
	.az-deliv-checkbox
		display: table
		width: 100%
		cursor: pointer
		height: 38px
		>div
			display: table-cell
			vertical-align: middle
			&:nth-child(1)
				width: 20px
				padding: 0 15px
				font-size: 0
				span
					width: 20px
					height: 20px
					display: inline-block
					background: url(../img/az-pay-radio.png) no-repeat center
			&:nth-child(2)
				text-align: left
				width: 40px
				.az-deliv-img
					display: inline-block
					img:first-child
						display: inline-block
					img:nth-child(2)
						display: none
			&:nth-child(3)
				// padding: 12px
				color: #2e2d2f
				font-size: 16px
				font-family: "ArimoRegular"
				font-weight: normal
				line-height: 20px
	input[type="radio"]:checked~.az-deliv-checkbox
		>div
			&:nth-child(1)
				span
					background: url(../img/az-pay-radio-checked.png) no-repeat center
			&:nth-child(2)
				img:first-child
					display: none
				img:nth-child(2)
					display: inline-block
			&:nth-child(3)
				color: #2c82c9

/*tab4*/
.az-thank-title
	color: #2e2d2f
	font-size: 22px
	font-family: "ArimoBold"
	font-weight: normal
	line-height: 22px
	display: inline-block
	width: 100%
	padding: 23px 0 15px
.az-thank
	p
		color: #3c3b3e
		font-size: 16px
		font-family: "ArimoRegular"
		font-weight: normal
		line-height: 22px
		margin-bottom: 16px
.az-thank-order-title
	color: #3c3b3e
	font-size: 24px
	font-family: "ArimoBold"
	font-weight: normal
	line-height: 26px
	text-transform: uppercase
	margin-bottom: 5px
	display: inline-block
.az-thank-order-subtitle
	color: #3c3b3e
	font-size: 16px
	font-family: "ArimoRegular"
	font-weight: normal
	line-height: 22px
	margin-bottom: 10px
	display: inline-block
.az-thank-customer-data
	color: #000
	font-size: 16px
	font-family: "ArimoBold"
	font-weight: normal
	line-height: 26px
	margin-bottom: 10px
	display: inline-block
.az-thank-customer-datas
	color: #3c3b3e
	font-size: 16px
	font-family: "ArimoRegular"
	font-weight: normal
	line-height: 22px
	display: inline-block
	width: 220px
	margin: 0 auto
	text-align: left
	// margin-bottom: 16px


.az-address-itog
	padding-bottom: 18px

.az-address
	margin: 0 -15px
	padding: 0 8px
.az-address-title
	font-size: 22px
	font-family: "ArimoBold"
	font-weight: normal
	line-height: 26px !important
	width: 100%
	text-align: center
	display: block
	margin: 15px 0
.az-address-text
	font-size: 18px
	font-family: "ArimoRegular"
	font-weight: normal
	line-height: 26px !important


.az-table-head
	font-size: 22px
	font-family: "ArimoBold"
	font-weight: normal
	line-height: 26px !important
	color: #000
	text-transform: uppercase
	margin: 30px 0 0
	display: block


.az-margin-top23
	margin-top: 23px !important

/*go back and print*/
.az-goback-print
	margin-bottom: 20px
	.az-go-back, .az-print
		display: inline-block
		color: #64a3d7
		text-decoration: underline
		position: relative
		font-family: "ArimoRegular"
		font-size: 16px
		line-height: 22px
		&:hover
			text-decoration: none
		&::before
			content: ""
			position: absolute
			top: 0
			right: calc(100% + 6px)
			height: 100%
	.az-go-back
		margin-left: 16px
		&::before
			background: url(../img/az-go-back.png) no-repeat center
			width: 10px
	.az-print
		margin-left: 23px
		&::before
			background: url(../img/az-print.png) no-repeat center
			width: 16px

// *********************** Стили для бегунков ************************************

/* Ширина слайдера */
#az-slider
	width: 100%


/* Контейнер слайдера */
.ui-slider
	position: relative
	border-radius: 3px
/* Ползунок */
.ui-slider .ui-slider-handle
	position: absolute;
	z-index: 2
	width: 20px  /* Задаем нужную ширину */
	height: 20px  /* и высоту */
	background-color: #2c82c9
	// background: url(../img/slider.png) no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
	cursor: pointer
	border-radius: 10px

.ui-slider .ui-slider-range
	position: absolute
	z-index: 1
	font-size: .7em
	display: block
	border: 0
	overflow: hidden

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal
	height: 3px /* задаем высоту согласно дизайна */

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle
	top: -8px
	margin-left: -10px

.ui-slider-horizontal .ui-slider-range
	top: 0px
	height: 100%
	background: #c2c2c2

.ui-slider-horizontal .ui-slider-range-min
	left: 0

.ui-slider-horizontal .ui-slider-range-max 
	right: 0

/* оформление полосы по которой ходит ползунок */
.ui-widget-content
	// border: 1px solid #D4D4D4
	background: #fff

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header
	border: 1px solid #D4D4D4
	background: #2c82c9

/* скругление для полосы слайдера */
.ui-corner-all
	// -moz-border-radius: 3px
	// -webkit-border-radius: 3px
	// border-radius: 3px
	height: 5px
	background: #fba026

// *************************** Стили для бегунков ********************************

.az-range
	span
		outline: none
	input
		display: none
		// padding: 0
		// border: none
		// text-align: center
.az-filter
	margin: 0 -15px
	padding: 0 8px
	position: relative
.az-filter-title
	color: #fefeff
	background: #2c82c9 url(../img/)
	display: block
	width: 100%
	height: 40px
	line-height: 40px
	text-align: center
	font-size: 16px
	text-transform: uppercase
	font-family: "ArimoBold"
	position: relative
	cursor: pointer
	&::before
		content: ""
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		height: 5px
		background: #1f639c
.az-filter.open
	padding: 0
	.az-filter-title
		padding-left: 30px
		background: #2c82c9 url(../img/az-filter-close.png) no-repeat 15px center
		&::before
			display: none
.az-range
	padding: 30px 30px 20px
	text-align: center
	background: #ececec
	span, input
		font-size: 16px
		line-height: 20px
		color: #2e2d2f
		font-family: "ArimoRegular"
		background: #ececec
#az-slider
	margin-bottom: 25px

.az-filter-inner
	background: #ececec
	padding-bottom: 12px
	button[type="submit"]
		padding-left: 0
		background: #fba026 url(../img/az-filter-submit.png) no-repeat 17px center
		height: 40px
		line-height: 40px
		font-size: 14px
		font-family: "ArimoBold"
		color: #282729
		position: relative
		border-radius: 0
		border: none
		display: block
		padding-left: 30px
		max-width: 170px
		width: 100%
		text-transform: uppercase
		letter-spacing: 0.15em
		margin: 0 auto
		&:hover
			color: #fff
			background: #fba026 url(../img/az-filter-submit-hover.png) no-repeat 17px center
		&::before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 5px
			background: #db8818
.az-filter-section-title
	font-size: 20px
	line-height: 26px
	color: #000
	font-family: "ArimoBold"
	display: block
	margin-bottom: 10px
.az-filter-section
	padding: 0 30px 20px
	input[type="checkbox"]
		display: none
	label
		margin-left: 23px
		padding-left: 22px
		font-size: 16px
		line-height: 26px
		color: #000
		font-family: "ArimoRegular"
		font-weight: normal
		background: url(../img/az-filter-check.png) no-repeat left center
		cursor: pointer
	input[type="checkbox"]:checked+label
		background: url(../img/az-filter-checked.png) no-repeat left center

.az-form-wrap
	position: absolute
	display: none
	top: 40px
	left: 0
	width: 100%
	z-index: 6

/*lk*/
.az-lk
	padding-bottom: 80px
.az-lk-table-title
	font-size: 18px
	line-height: 26px
	color: #2e2d2f
	font-family: "ArimoBold"
	font-weight: normal
	display: block
	text-align: center
	margin-bottom: 15px
.az-order-list
	width: 100%
	text-align: center
	display: block
	font-size: 0
	>div
		display: block
		width: 100%
		cursor: pointer
		position: relative
		>span
			text-align: center
			display: inline-block
			width: 25%
			font-size: 16px
			color: #000
			font-family: "ArimoRegular"
			font-weight: normal
			vertical-align: middle
			line-height: 40px
			height: 40px
		// >span
		// >span
		>span:first-child
			>a
				color: #2c82c9
				font-size: 12px
				// line-height: 26px
				font-family: "ArimoRegular"
				font-weight: normal
				text-decoration: underline
				&:hover
					text-decoration: none
		>span:nth-child(2), >span:nth-child(3), >span:nth-child(4)
			color: #000
			font-size: 12px
			// line-height: 26px
			font-family: "ArimoRegular"
			font-weight: normal
			.az-process
				color: #dd8700
			.az-cancel
				color: #d14841
			.az-deliver
				color: #56bd24
		>span:nth-child(5)
			width: 100%
			height: auto
			display: none
			// float: left
			// div
			// 	width: 100%
	>div:nth-child(2n+3)
		border-top: 1px solid #e9e9e9
		background: #f5f5f5
		>span
			background: #f5f5f5
	>div:first-child
		border-bottom: 2px solid #e9e9e9
		cursor: default
		&:hover
			border-left: none
			border-right: none
			border-top: none
			border-bottom: 2px solid #e9e9e9
			margin: 0 !important
			width: 100%
	>div:hover
			border: 3px solid #e9e9e9
			margin-left: -3px
			margin-right: -3px
			margin-top: -3px
			margin-bottom: -3px
			width: calc(100% + 6px)
			z-index: 3
	>div:nth-child(2n+3):hover
			border: 3px solid #e9e9e9
			border-top: 3px solid #e9e9e9
			margin-left: -3px
			margin-right: -3px
			margin-bottom: -3px
			margin-top: -2px
			width: calc(100% + 6px)
			z-index: 3
			// height: 46px
.az-table-basket.style2, .az-address-itog.style2, .az-bg-gray
	background: #f5f5f5

.az-table-basket.style3
	border-top: 1px solid #e9e9e9
	border-bottom: 1px solid #e9e9e9

// .az-order-list
// 	>div
// 		>span
.az-itog.style3
	background: #fff
	text-align: left
	>span
		display: block
					// line-height: 26px
					// height: 26px

.az-address.style3
	text-align: left
	>span
		display: block
	// span
	// 	line-height: 26px
	// table-layout: inherit
	// div
	// 	// display: table !important
	// 	// width: 100%
	// tr:first-child
		// display: table !important
		// width: 100%

.az-lk-links
	text-align: center
	font-size: 0
	margin-bottom: 15px
	li
		display: inline-block
		padding: 0 18px
		a
			font-family: "ArimoRegular"
			font-size: 16px
			color: #448ccd
			text-decoration: underline
			&:hover
				text-decoration: none
		span
			font-family: "ArimoRegular"
			font-size: 16px
			color: #2e2d2f
