@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "style"

ul
	padding: 0
	margin: 0
body
	overflow-x: hidden
.clear
	clear: both
.minpadd
	padding-left: 5px !important
	padding-right: 5px !important


/********************************************************************************/
.ah-news-link
	margin-top: 30px !important
.ah-pagination
	display: table
	margin-left: 17%
	margin-top: 0px
.ah-pagination-center
	display: table-cell
.ah-pagination-list
	font-size: 0
	li
		display: inline-block
		margin-right: 7px
		a
			display: inline-block
			width: 30px
			height: 30px
			background: #4076b5
			box-shadow: inset 0 -5px 0 #1f4d82
			color: #fff
			font-family: "ArimoBold", sans-serif
			font-size: 14px
			line-height: 30px
			text-align: center
			border: 1px solid transparent
			&:hover
				background: transparent
				color: #4076b5
				border: 1px solid #4076b5
				transition:background, color 0.6s ease 0s	
		&:last-child
			margin-right: 0px
.ah-pagination-left
	display: table-cell
	padding-right: 17px
	a
		display: inline-block
		font-family: "ArimoRegular", sans-serif
		color: #448ccd
		font-size: 14px
		line-height: 41px
		padding-left: 10px
		background: url(../img/ah-pagination-left.png) left center no-repeat
.ah-pagination-right
	display: table-cell
	padding-left: 17px
	a
		display: inline-block
		font-family: "ArimoRegular", sans-serif
		color: #448ccd
		font-size: 14px
		line-height: 41px
		padding-right: 10px
		background: url(../img/ah-pagination-right.png) right center no-repeat
.ah-news-item
	margin: 10px 0px
.ah-map-contactbox
	margin: 15px 0px
.ah-map-title
	display: block
	font-family: "ArimoBold", sans-serif
	color: #000
	font-size: 20px
	line-height: 26px
	margin-top: 20px
	margin-bottom: 15px
.ah-map-subtitle
	display: block
	font-family: "ArimoBold", sans-serif
	color: #000
	font-size: 16px
	line-height: 26px
.ah-map-city, .ah-map-street, .ah-map-house, .ah-map-mail
	display: block
	font-family: "ArimoRegular", sans-serif
	color: #000
	font-size: 16px
	line-height: 26px
.ah-map1-wrapp
	width: 100%
	height: 300px
	iframe
		width: 100%
		height: 100%
.ah-vkbox-wrapp
	margin-bottom: 35px
	width: 100% !important
	height: 455px !important
	#vk_groups
		width: 100% !important
.ah-cardproduct-topwrapp
	text-align: center
.ah-stars-right
	p
		display: block
		font-family: "ArimoRegular", sans-serif
		font-size: 14px
		color: #000
		line-height: 18px
.ah-stars-texttitle
	display: block
	font-family: "ArimoBold", sans-serif
	font-size: 14px
	color: #2e2d2f
	font-weight: 700
	line-height: 22px
	text-transform: uppercase
.ah-stars-spandate
	display: block
	color: #000
	font-size: 12px
	line-height: 22px
	margin-top: 10px
.ah-stars-box
	margin-top: 8px
	span
		display: inline-block
		font-family: "ArimoRegular", sans-serif
		color: #2e2d2f
		font-size: 14px
		line-height: 22px
	.ah-stars-list
		display: inline-block
		li
			display: inline-block
			margin-right: 4px
			span
				width: 17px
				height: 16px
			.ah-stars-yel
				background: url(../img/ah-stars-yel.png) center center no-repeat
			.ah-stars-gr
				background: url(../img/ah-stars-gr.png) center center no-repeat
.ah-stars-title
	display: block
	font-family: "ArimoBold", sans-serif
	color: #2e2d2f
	font-size: 12px
	line-height: 22px
	text-transform: uppercase
.ah-stars-item
	display: table
	width: 100%
	padding: 10px 0px
	border-bottom: 1px solid #d9d9d9
.ah-stars-left
	display: block
	width: 100%
	border-right: none
	text-align: center
.ah-stars-right
	display: block
	width: 100%
	padding-left: 0px
.ah-videoblock-wrapp
	padding-top: 40px
.ah-videoblock-text
	height: 276px
	overflow-y: hidden
	margin-bottom: 20px
	background: linear-gradient(to bottom, black 70%, transparent)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	p
		display: block
		font-family: "ArimoRegular", sans-serif
		color: #000
		font-size: 16px
		line-height: 26px
		// height: 276px
	a
		font-family: ArimoRegular,sans-serif
		color: #2c82c9
		font-size: 16px
		line-height: 26px
		text-decoration: underline
.ah-videoblock
	width: 100%
	height: 286px
	float: none
	margin-right: 0px
	margin-bottom: 25px
	iframe
		width: 100%
		height: 100%
.ah-title
	font-size: 18px !important
	margin-top: 44px
.ah-cardprod-text
	margin-top: 50px
.ah-cardprod-link
	width: 100%
	text-align: center
	background: url(../img/novelty-icon.png) calc(0% + 32%) center no-repeat #fba026 !important
	margin-top: 14px
	&:hover
		background: url(../img/novelty-icon1.png) calc(0% + 32%) center no-repeat #fba026 !important
.ah-cardtext-span
	display: block
	color: #2e2d2f
	font-family: "ArimoBold", sans-serif
	font-size: 24px
	line-height: 22px
	text-transform: uppercase
.ah-cardtext-span1
	display: block
	color: #000
	font-family: "ArimoBold", sans-serif
	font-size: 16px
	line-height: 20px
	margin-top: 14px
.ah-cardprod-pricebox
	display: inline-block
.ah-formbox1
	display: inline-block
	margin-top: 12px !important
	width: 50%
.ah-cardform-span
	display: inline-block
	font-family: "ArimoRegular", sans-serif !important
	color: #000
	font-size: 12px !important
	line-height: 15px !important
.ah-charbox
	width: auto
	margin-top: 15px
.ah-charbox-span
	display: block
	font-family: "ArimoBold", sans-serif
	font-size: 14px
	line-height: 24px
	span
		font-family: "ArimoRegular", sans-serif
		float: right
.ah-news-title
	font-size: 24px
	line-height: 22px
	text-transform: uppercase
	margin-bottom: 10px
.ah-cardproduct-title
	display: block
	font-family: "ArimoBold", sans-serif
	color: #2e2d2f
	font-size: 24px
	line-height: 22px
.ah-cardproduct-subtitle
	display: block
	font-family: "ArimoRegular", sans-serif
	color: #000
	font-size: 16px
	line-height: 26px
.arrow-left1
	display: none
	position: absolute
	width: 20px
	height: 20px
	left: 0
	top: 43%
	background: url(../img/ah-slide-left.png) center center no-repeat rgba(0,0,0,0.2)
	padding: 19px 19px
	&:hover
		background: url(../img/ah-slleft-y.png) center center no-repeat rgba(0,0,0,0.2)
		transition: background 0.6s ease 0s
.arrow-right1
	display: none
	position: absolute
	width: 20px
	height: 20px
	right: 0
	top: 43%
	background: url(../img/ah-slide-right.png) center center no-repeat rgba(0,0,0,0.2)
	padding: 19px 19px
	&:hover
		background: url(../img/ah-slright-y.png) center center no-repeat rgba(0,0,0,0.2)
		transition: background 0.6s ease 0s
.ah-cardslider-dotwrapp
	width: 100%
	font-size: 0
	text-align: center
.ah-cardslider-dot
	display: inline-block
	width: 23%
	height: 60px
	outline: 1px solid #ededed
	padding: 3px 3px
	margin-right: 5px
	margin-top: 8px
	border-bottom: 3px solid transparent
	img
		width: 54px
		height: 54px
		margin: 0 auto
	&:hover
		outline: 1px solid #ededed
		border-bottom: 3px solid #2c82c9
		transition: border-bottom 0.6s ease 0s
.ah-cardslider-dot1
	margin-right: 0px
.ah-cardslider
	position: relative
	margin-top: 15px
	.item
		height: 290px
		border: 1px solid #ededed
		padding: 10px 10px
.ah-cardslider-imgbox
	text-align: center
	img
		width: 239px !important
		height: 264px !important
		margin: 0 auto
.ah-sidebarbox-imgbox
	text-align: center
.ah-sidebarbox-item
	position: relative
	display: table
	width: 100%
	outline: 1px solid #ededed
	border-bottom: 2px solid #d9d9d9
	padding: 20px 2px 15px 2px
	margin-bottom: 20px
.ah-sidebarbox-left
	display: table-cell
	width: 40%
	vertical-align: top
.ah-salebox
	position: absolute
	display: block
	font-family: "ArimoBold", sans-serif
	color: #fff
	font-size: 14px
	line-height: 22px
	background: url(../img/cardproduct-sidebar.png) center center no-repeat
	width: 99px
	height: 28px
	padding-left: 10px
	margin-top: 37px
	left: -5px

.ah-sidebarbox-right
	display: table-cell
	width: 60%
	vertical-align: top
	padding-left: 20px
.ah-sidebar-title
	display: block
	font-family: "ArimoBold", sans-serif
	font-size: 16px
	line-height: 20px
	color: #2c82c9
	text-transform: uppercase
.ah-sidebar-subtitle
	display: block
	font-family: "ArimoRegular", sans-serif
	font-size: 16px
	line-height: 20px
	color: #2e2d2f
.ah-sidebar-price1
	display: block
	font-family: "ArimoBold", sans-serif
	color: #ff3600
	font-size: 14px
	text-decoration: line-through
	margin-top: 12px
	span
		font-size: 12px
.ah-sidprice1
	font-size: 22px !important
	span
		font-size: 14px !important
.ah-sidprice2
	font-size: 35px !important
	span
		font-size: 18px !important
.ah-sidebar-price2
	display: block
	font-family: "ArimoBold", sans-serif
	color: #2c82c9
	font-size: 26px
	line-height: 22px
	span
		font-size: 14px
.ah-cardproduct-list
	background: #ececec
	border-bottom: 2px solid #2c82c9
	li
		display: block
		border-bottom: 1px solid #cdcdcd
		padding-left: 5px
		a
			font-family: "ArimoBold", sans-serif
			font-size: 12px
			line-height: 40px
			text-transform: uppercase
			color: #2e2d2f
			text-decoration: none
			background: url(../img/cardproduct-list1.png) left center no-repeat
			padding-left: 10px
			&:hover
				text-decoration: underline
				color: #2c82c9
				background: url(../img/cardproduct-list2.png) left center no-repeat
				transition: color, background 0.6s ease 0s
.ah-footsoc-wrapp
	margin-top: 0px
.ah-footer-bottom
	background: #181819
.ah-footbottom-text
	display: block
	font-family: "ArimoRegular", sans-serif
	color: #454548
	font-size: 12px
	line-height: 16px
	margin: 15px 0px
	width: 100%
	float: left
.ah-footbottom1-logo
	display: inline-block
	float: right
.ah-footbottom-logo
	display: block
	padding: 10px 10px
	background: inherit
	text-align: center
	float: right
	width: 100%
.ah-footer-socbox
	display: block
	text-align: center
	padding-left: 0
.ah-footsocbox-link
	display: inline-block
	background: url(../img/foot-icon4.png) center center no-repeat
	width: 40px
	height: 40px
	margin-right: 10px
.ah-footsocbox-link1
	display: inline-block
	background: url(../img/foot-icon3.png) center center no-repeat
	width: 40px
	height: 40px
.ah-footwrapp11
	padding-left: 40px
.ah-footer
	background: #2e2d2f
	padding: 22px 0px 5px 0px
.ah-footer-wrapp
	text-align: left
.ah-footer-wrapp1
	text-align: center
	.ah-footer-tel
		display: block
		font-family: "ArimoRegular", sans-serif
		font-size: 30px
		color: #fff
		background: url(../img/foot-icon1.png) left center no-repeat
		span
			font-family: "ArimoBold", sans-serif
.ah-footer-link1
	position: relative
	display: inline-block
	font-family: "ArimoRegular", sans-serif
	color: #fff
	font-size: 16px
	line-height: 21px
	&::before
		position: absolute
		content: ""
		background: url(../img/foot-icon2-bef.png)
		width: 100%
		height: 2px
		left: 0
		bottom: 0px
.ah-footer-mail
	display: inline-block
	font-family: "ArimoRegular", sans-serif
	color: #fff
	width: 150px
	font-size: 14px
	line-height: 30px
	background: url(../img/foot-icon2.png) left center no-repeat
.ah-footer-link
	display: block
	font-family: "ArimoRegular", sans-serif
	color: #fff
	font-size: 12px
	line-height: 22px
	text-transform: uppercase
	margin-bottom: 5px
.ah-textbox
	padding: 35px 0px
.ah-textbox-wrapp
	p
		display: block
		font-family: "ArimoRegular", sans-serif
		font-size: 16px
		color: #000
		line-height: 26px
		margin: 0
		a
			font-family: "ArimoRegular", sans-serif
			color: #2c82c9
			line-height: 26px
			text-decoration: underline
			&:hover
				color: #2c82c9
				text-decoration: underline
	.ah-textbox-text
		margin-top: 17px
.ah-advantages-title
	display: block
	font-family: "ArimoBold", sans-serif
	color: #2e2d2f
	font-size: 24px
	line-height: 22px
	text-transform: uppercase
	margin-bottom: 15px
	text-align: center
.ah-advantages
	background: #f4f4f4
	height: auto
	padding: 25px 0px
.ah-advantages-wrapp
	text-align: center
.ah-advantages-imgbox
	width: 130px
	height: 80px
	margin: 0 auto
	img
		margin: 0 auto
.ah-advantages-span
	display: block
	font-family: "ArimoBold", sans-serif
	color: #2c82c9
	font-size: 9px
	line-height: 22px
	text-transform: uppercase
	margin-top: 6px
/*Заголовок*/
.az-title-wrap
	display: block
	text-align: center
	position: relative
	z-index: 2
	font-size: 0
	margin-bottom: 15px
	&.style2
		&::before
			bottom: 12px
	&.style3
		margin-bottom: 10px
	&.style4
		&::before
			bottom: 6px
		margin-top: 30px
		margin-bottom: 20px
		.az-title
			font-size: 18px
			text-transform: uppercase
			padding: 0 5px
	&::before
		content: ''
		bottom: 8px
		position: absolute
		width: 100%
		height: 1px
		background: #e3e3e3
		left: 0
	.az-title
		font-family: "ArimoBold", sans-serif
		font-size: 24px
		color: #333333
		display: inline-block
		z-index: 3
		background: #fff
		position: relative
		z-index: 3
		padding: 0 14px
		text-transform: uppercase

/*Заголовок*/
.ah-news
	padding-bottom: 30px
.ah-news-wrapp1
	padding-bottom: 10px !important
.ah-news-wrapp
	padding-bottom: 15px
	border-bottom: 2px solid #ecf0f1
.ah-news-span
	display: inline-block
	font-family: "ArimoRegular", sans-serif
	color: #fff
	background: #2c82c9
	padding: 5px 4px
	margin-bottom: 19px
.ah-news-text1
	font-size: 14px !important
.ah-news-text
	display: block
	font-family: "ArimoBold", sans-serif
	color: #2c82c9
	font-size: 16px
	line-height: 20px
	text-transform: uppercase
	margin-top: 19px
	&:hover
		color: #2c82c9
.ah-novelty
	padding: 45px 0px 10px 0px
.ah-popular
	padding: 15px 0px 30px 0px
.ah-novelty-link
	float: right
	display: inline-block
	font-family: "ArimoRegular", sans-serif
	color: #448ccd
	font-size: 14px
	line-height: 41px
	text-decoration: underline
	padding-right: 10px
	background: url(../img/novelty-arr.png) right center no-repeat
	&:hover
		color: #448ccd
		text-decoration: underline
.ah-novelty-imgbox
	width: 180px
	height: 250px
	margin: 0 auto
	img
		margin: 0 auto
.ah-popular-imgbox
	width: 100px
	height: 100px
	margin: 0 auto
	img
		margin: 0 auto
.ah-novelty-wrapp
	border: 2px solid #ededed
	padding: 25px 9px 10px 9px
	text-align: center
	cursor: pointer
	background: #fff
	box-shadow: 2.5px 4.3px 0 rgba(0, 0, 0, 0.1)
	margin-top: 10px
	&:hover
		border: 2px solid #2c82c9
		transition: border 0.6s ease 0s
.ah-novelty-title
	display: block
	font-family: "ArimoBold", sans-serif
	font-size: 13px
	line-height: 20px
	color: #2c82c9
	text-transform: uppercase
	margin-top: 20px
.ah-popular-title
	display: block
	font-family: "ArimoBold", sans-serif
	font-size: 10px
	line-height: 20px
	color: #2c82c9
	text-transform: uppercase
	margin-top: 20px
.ah-novelty-subtitle
	display: block
	font-family: "ArimoRegular", sans-serif
	font-size: 14px
	line-height: 20px
	color: #2e2d2f
.ah-popular-subtitle
	display: block
	font-family: "ArimoRegular", sans-serif
	font-size: 10px
	line-height: 20px
	color: #2e2d2f
.ah-novelty-table
	display: table
	width: 100%
	margin-top: 12px
.ah-novelty-tableft
	display: table-cell
	width: 45%
	vertical-align: bottom
.ah-novelty-tabright
	display: table-cell
	width: 55%
	vertical-align: bottom
.ah-popular-tableft
	display: block
	width: 100%
	vertical-align: bottom
.ah-popular-tabright
	display: block
	width: 100%
	vertical-align: bottom
.ah-tableft-span
	display: block
	font-family: "ArimoBold", sans-serif
	line-height: 18px
	color: #ff3600
	font-size: 14px
	text-decoration: line-through
	text-align: left
	span
		font-size: 12px
.ah-tableft-span1
	display: block
	font-family: "ArimoBold", sans-serif
	line-height: 16px
	color: #2c82c9
	font-size: 22px
	text-align: left
	span
		font-size: 12px
.ah-tabright-link
	display: block
	height: 40px
	padding-left: 35px
	padding-right: 5px
	font-family: "ArimoBold", sans-serif
	color: #282729
	font-size: 14px
	line-height: 40px
	text-transform: uppercase
	background: url(../img/novelty-icon.png) calc(0% + 10px) center no-repeat #fba026
	box-shadow: inset 0 -5px 0 #db8818
	&:hover
		color: #fff
		background: url(../img/novelty-icon1.png) calc(0% + 10px) center no-repeat #fba026
.arrow-left
	display: block
	position: absolute
	width: 20px
	height: 30px
	left: 4%
	top: 43%
	background: url(../img/ah-slide-left.png) center center no-repeat rgba(0,0,0,0.2)
	padding: 25px 25px
	&:hover
		background: url(../img/ah-slleft-y.png) center center no-repeat rgba(0,0,0,0.2)
		transition: background 0.6s ease 0s
.arrow-right
	display: block
	position: absolute
	width: 20px
	height: 30px
	right: 4%
	top: 43%
	background: url(../img/ah-slide-right.png) center center no-repeat rgba(0,0,0,0.2)
	padding: 25px 25px
	&:hover
		background: url(../img/ah-slright-y.png) center center no-repeat rgba(0,0,0,0.2)
		transition: background 0.6s ease 0s
.ah-slider
	position: relative
	background: url(../img/ah-slider-fon.jpg) top center no-repeat
	background-size: cover
	.owl-stage-outer
		overflow: inherit !important
	.owl-dots
		position: relative
		float: right
		margin-top: -25px
		margin-right: 70px
		z-index: 99
		.owl-dot
			display: inline-block
			margin-right: 12px
			width: 12px
			height: 11px
			background: url(../img/ah-dot1_320.png) center center no-repeat
		.active
			width: 12px
			height: 11px
			background: url(../img/ah-dot2_320.png) center center no-repeat
	.item
		position: relative
		height: 110px
		width: 100%
.ah-slider-imgbox
	position: absolute
	top: -5%
	left: 5%
	img
		width: 131px
		height: 111px
.ah-slider-content
	position: absolute
	top: 0
	// left: 0%
	left: 29%
	transform: translate(50%, 0)
	margin-top: 14px
.ah-slider-title
	display: inline-block
	font-family: "ArimoBold", sans-serif
	color: #fff
	font-size: 15px
	line-height: 24px
	text-transform: uppercase
	padding: 0px 3px
	background: #d14841
.ah-slider-text
	display: block
	font-family: "ArimoRegular", sans-serif
	color: #fff
	font-size: 15px
	line-height: 16px
	text-transform: uppercase









/*************************** POPUP-Form *****************************************/
#small-dialog
	text-align: left
	max-width: 500px
	margin: 40px auto
	position: relative
.common-form
	display: block
	padding: 38px 68px
	background: #37474f
	border-radius: 3px
	box-sizing: border-box
	.form-title
		display: block
		color: #fff
		font-size: 41px
		font-family: "PT Sans", sans-serif
		margin-top: 15px
	.form-subtitle
		display: block
		color: #fecc00
		font-family: "PT Sans Bold", sans-serif
		font-size: 18px
		text-transform: uppercase
		margin-top: 11px
		margin-bottom: 15px
	input[type="text"]
		width: 100%
		border-radius: 3px
		box-sizing: border-box
		border: 1px solid #fff
		background: #37474f
		color: #fff
		font-family: "PT Sans", sans-serif
		height: 33px
		line-height: 33px
		padding: 0px 18px
		font-size: 14px
		margin-top: 15px
	input[type="submit"]
		width: 100%
		border-radius: 3px
		box-sizing: border-box
		border: none
		background: #fecc00
		color: #37474f
		text-align: center
		font-family: "PT Sans", sans-serif
		height: 33px
		line-height: 33px
		padding: 0px 18px
		font-size: 18px
		text-transform: uppercase
		margin-top: 10px
		outline: none
		cursor: pointer
/***************************************************************************/






@import "media" // Всегда в конце
@import "media2" // Всегда в конце